$fontRoboto: "Roboto", sans-serif;
$fontPlayFair: "Playfair", sans-serif;
$fontPrata: "Prata", sans-serif;
$COLOR_MAIN: rgba(253, 253, 251, 1);
$COLOR_DARK: rgba(27, 26, 23, 1);
$COLOR_DARK-LIGHT: rgba(27, 26, 23, 0.82);
$COLOR_WHITE: rgba(255, 255, 255, 1);
$COLOR_GRAY: rgba(68, 66, 64, 1);
$COLOR_PINK: rgba(212, 176, 152, 1)